<div class="container">
    <div class="card list-transacoes">
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID da Conta</th>
                <th scope="col">Data/Hora</th>
                <th scope="col">Valor</th>
                <th scope="col">Saldo Anterior</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transacao of transacoes">
                <td>{{transacao.contaId}}</td>
                <td>{{transacao.dataHoraTransacao}}</td>
                <td>{{transacao.valorTransacao}}</td>
                <td>{{transacao.saldoAnterior | currency}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
